.info-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 500px;
	height: 500px;
	background-color: red;
}

.info-container h1 {
	color: white;
}

.carousel.slide {
	padding: 6rem 0;
	top: 600px;
	width: 100%;
	background-color: var(--medium-blue);
  background-color: lightgrey;
}

.info-container {
	position: relative;
}

.info-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* !* Adjust the color values to achieve desired darkness *! */
	background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}
