
.team-container {
	padding-bottom: 3rem;
	height: 100%;
}

.team-title {
	color: var(--dark-blue);
	font-weight: 600;
}

.deck-container {
	margin: 3rem;
}

.card-name {
	font-weight: 600;
	margin-bottom: 1rem;
}

.card-container {
	border: 2px solid var(--charcoal-color);
	border-radius: 2rem;
}

.card-subtitle {
	margin-bottom: .5rem;
}

.card-img {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	top: 0;
	width: 100%;
}
.card-links {
	bottom: 0;
}

.elliot-img {
	background: url("elliot.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.anisha-img{
	background: url("anisha.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.sam-img {
	background: url("sam.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.joe-img {
	background: url("joe.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.tony-img{
	background: url("tony.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.phyllis-img {
	background: url("phyllis.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.vincenzo-img {
	background: url("vincenzo.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.no-img-img {
	background: url("no-img.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.team-page {
	width: 100%;
	overflow-x: hidden;
}


.team-cards {
	position: relative;
	height: 95vh;
	width: 500%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	transition: all 250ms;
	transform: translateX(0px);
	z-index: 0;
}

.arrow-nav {
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	background: #007AFF;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2.5rem;
	cursor: pointer;
	transition: all 150ms;
}

.arrow-nav:hover {
	transform: scale(1.01);
	box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}

.left-arrow {
	top: 35%;
	position: absolute;
	left: 1rem;
	z-index: 20;
}

.right-arrow {
	top: 35%;
	position: absolute;
	right: 1rem;
	z-index: 20;
}

.team-card {
	width: 20rem;
	margin: 1rem;
	box-shadow: 0px 1px 1px rgba(0,0,0,.3);
}

.team-card-body {
	padding: 1rem;
}

.team-heading {
	padding-top: 4rem;
	width: 100%;
	text-align: center;
}
